@import "tailwindcss";

@theme {
  --color-primary: #f5f5f7;
  --color-secondary: #8c96a5;
  --color-main: #9d64ff;
  --color-error: #ff453a;
  --color-success: #30d158;
  --color-info: #64d2ff;
  --color-dark-secondary: #18181b;
  --color-dark-third: #27272a;
}
